improveWait.resetWait();
$("#index_data").html("<%= j(render partial:"questions/shared/body_data") %>")
$(".paging_js_a").html("<%= @questions.count %>")
$(".paging_js_b").html("<%= @questions_all.count %>")
$(".paging_ajax").html("<%= j(paginate @questions, remote: true) %>")