<div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-circle"></i> Tambah Pertanyaan
      </div>

	<div class="panel-body">
		<div class="row">
			<div class="col-lg-12">
				<div>
					<%= render 'questions/shared/form' %>
				</div>
			</div>
		</div>
	</div>
</div>