<div class="panel panel-default">
  <div class="panel-heading">
      <i class="fa fa-circle"></i> <%= @page_description %>
  </div>

	<div class="panel-body">
		<div class="row">
			<div class="control-group">
				<div class="control-label col-lg-2">
					<%= label_tag :name, "Pertanyaan" %>
				</div>
				<div class="controls col-lg-8">
					<%= @question.name %>
				</div>
			</div>
			<div class="clearfix">
				<br><br>
			</div>

			<div class="control-group">
				<div class="control-label col-lg-2">
					<%= label_tag :type_answer, "Tipe Jawaban" %>
				</div>
				<div class="controls col-lg-8">
					<%= @question.type_answer.name %>
				</div>
			</div>
			<div class="clearfix">
				<br><br>
			</div>

			<% @question.points.each_with_index do |point, i| %>
				<div class="control-group">
					<div class="control-label col-lg-2">
						<%= label_tag :label, "Label #{i+1}" %>
					</div>
					<div class="controls col-lg-2">
						<%= point.label.blank? ? '-' : point.label %>
					</div>
					<div class="control-label col-lg-1">
						<%= label_tag :point, "Point" %>
					</div>
					<div class="controls col-lg-2">
						<%= point.values %>
					</div>
				</div>
				<div class="clearfix">
					<br><br>
				</div>
			<% end %>

			<div class="control-group">
				<div class="control-label col-lg-2">
					<%= label_tag :description, "Deskripsi" %>
				</div>
				<div class="controls col-lg-8">
					<%= @question.description %>
				</div>
			</div>
		</div>

		<div class="clearfix">			
		</div>		
		<hr>
		<%= link_to "Edit", edit_question_path(@question), class:"pull-right btn btn-success" %>
		<%= link_to "Back", questions_path, class:"btn btn-default" %>
		<div class="clearfix"></div>						
	</div>
</div>
