$("#myModal").modal('show');
$('#myModal .modal-body').html("<%= j(render partial:"shared/notice") %>")
$('#myModal .modal-title').html("<i class='fa fa-troath'></i> Error message");
$(".modal-footer").remove();