<br>
<div class="panel panel-primary">
      <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i>Data Dummy
      </div>

	<div class="panel-body">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="date hide"><%= Date.today.strftime("%Y") %></div>
						<%# @data_chart.each do |json| %>
							<div class="value_<%#= json[0] %> hide"><%#= json[1] %></div>
						<%# end %>
						<div id="container"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(function () {
		$('#container').highcharts({
			chart: {
					type: 'pie',
					options3d: {
							enabled: true,
							alpha: 45,
							beta: 0
					}
			},
			title: {
					text: 'Data Order Dummy'
			},
			tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions: {
					pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							depth: 35,
							dataLabels: {
									enabled: true,
									format: '{point.name}'
							}
					}
			},
			series: [{
				type: 'pie',
				name: 'Omset Warehouse',
				data: [
						{
				          name: "Dummy",
				          y: 100
				        },
			           ]
			}]
		});
	});
</script>