<% unless @travelings.blank? %>
    <% @travelings.each_with_index do |traveling, i| %>
        <tr>
            <td><%= numbering(i, @travelings.offset_value) %></td>
            <td><%= traveling.name %></td>
            <td><%= traveling.description %></td>
            <td><%= traveling.created_at.strftime("%d-%B-%Y") %></td>
            <td>
                <div class="btn-group btn-group-justified">
                    <%=
                        link_to "<i class='fa fa-eye'></i>".html_safe,
                        traveling_path(traveling), title: 'Detail', class: 'btn btn-default'
                    %>
                    <%=
                        link_to "Edit".html_safe,
                        edit_traveling_path(traveling), title: 'Edit', class: 'btn btn-default'
                    %>
                     <%=
                        link_to "<i class='fa fa-trash'></i>".html_safe, traveling_path(traveling),
                        title: 'Hapus', class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' }
                    %>
                </div>
            </td>
        </tr>
    <% end %>
<% else %>
    <tr>
        <th colspan="6"><center>No data Found</center></th>
    </tr>
<% end %>