<div id="error-messages">
  <%= render "shared/error", errors: @traveling.errors %>
</div>
<%= form_with(model: @traveling, local: true) do |f| %>  
  <div class="control-group">
    <div class="control-label col-lg-3">
      <label><%= f.label :name, "Judul SIDAK" %></label>
    </div>
    <div class="controls col-lg-5">
      <%= f.text_field :name, autofocus: true, class:"form-control" %>
    </div>
  </div>
  <div class="clearfix">
    <br><br>
  </div>
  <!-- <div class="control-group">
    <div class="control-label col-lg-2">
      <%= f.label :description %>
    </div>
    <div class="controls col-lg-8">
      <%= f.text_area :description, autofocus: true, class:"form-control" %>
    </div>
  </div>
  <div class="clearfix">
    <br><br>
  </div> -->
  <% @questions.each do |question| %>
    <div class="control-group">
      <div class="control-label col-lg-3">
        <label><%= question.name %></label>
      </div>
      <% question.points.each do |point| %>
        <% if question.type_answer.name.downcase == 'essay' %>
          <div class="controls col-lg-5">
            <%= f.text_field :answer,name:"tourism[answer_#{question.id}][]", value: find_answer(@traveling, question, point.id)[0], autofocus: true, class:"form-control" %>
          </div>
        <% elsif question.type_answer.name.downcase == 'multiple choice' %>
          <div class="controls col-lg-3">
            <%= f.text_field :answer,name:"tourism[answer_#{question.id}][]", value: find_answer(@traveling, question, point.id)[0], autofocus: true, placeholder: "Isikan #{point.label}", class:"form-control" %>
            <%= f.hidden_field :answer, value:"#{nil}|#{point.id}|#{point.values}", name: "tourism[answer_3_#{question.id}][]" %> 
          </div>
        <% else %>
          <div class="controls col-lg-2">
            <%= point.label %><%= f.radio_button :answer, "#{point.label}|#{point.id}|#{point.values}", checked: (find_answer(@traveling, question, point.id)[0] == point.label ? true : false), name: "tourism[answer_#{question.id}][]" %>            
          </div>
        <% end %>  
        <%= f.hidden_field :traveling_id, name: "tourism[tourism_id_#{question.id}]", value: find_answer(@traveling, question, point.id)[2] %>      
      <% end %>
    </div>
    <div class="clearfix">
      <br><br>
    </div>    
  <% end %> 
  <hr> 
  <%= submit_tag "Simpan", class:"pull-right btn btn-success" %>
  <%= link_to "Kembali", travelings_path, class:"btn btn-default" %>
  <div class="clearfix"></div>
<% end -%>   