<table class="table table-bordered table-hover table-striped tablesorter">
  <thead>
    <tr>
      <th style="width:2%;">No <i class="fa fa-sort pull-right"></i></th>
      <th style="width:18%">Judul SIDAK</th>
      <th style="width:20%">Deskripsi</th>
      <th style="width:10%">Tahun buat</th>      
      <th style="width:10%"></th>
    </tr>
  </thead>
  <tbody id="index_data">
    <%= render "travelings/shared/body_data" %>
  </tbody>
</table>