<% unless @questions.blank? %>
    <% @questions.each_with_index do |question, i| %>
        <tr>
            <td><%= numbering(i, @questions.offset_value) %></td>
            <td><%= question.name %></td>
            <td><%= question.type_answer.name %></td>
            <td><%= question.created_at.strftime("%d/%B/%Y") %></td>
            <td>
                <div class="btn-group btn-group-justified">
                    <%=
                        link_to "<i class='fa fa-eye'></i>".html_safe,
                        question_path(question), title: 'Detail', class: 'btn btn-default'
                    %>
                    <%=
                        link_to "edit".html_safe,
                        edit_question_path(question), title: 'Edit', class: 'btn btn-default'
                    %>
                     <%=
                        link_to "<i class='fa fa-trash'></i>".html_safe, question_path(question),
                        title: 'Hapus', class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' }
                    %>
                </div>
            </td>
        </tr>
    <% end %>
<% else %>
    <tr>
        <th colspan="6"><center>No data Found</center></th>
    </tr>
<% end %>