<div id="error-messages">
  <%= render "shared/error", errors: @question.errors %>
</div>
<%= form_with(model: @question, local: true) do |f| %>  

  <div class="control-group">
    <div class="control-label col-lg-2">
      <%= f.label :name, "Pertanyaan" %>
    </div>
    <div class="controls col-lg-8">
      <%= f.text_field :name, autofocus: true, class:"form-control" %>
    </div>
  </div>
  <div class="clearfix">
    <br><br>
  </div>

  <div class="control-group">
    <div class="control-label col-lg-2">
      <%= f.label :type_answer_id, "Tipe Jawaban" %>
    </div>
    <div class="controls col-lg-4">
      <%= f.select :type_answer_id, options_for_select(@type_answers.map{|x| [x.name, x.id]}.unshift('-Pilih Tipe Jawaban-'), f.object.type_answer_id),{}, class:"form-control" %>
    </div>
  </div>
  <div class="clearfix">
    <br><br>
  </div>
  <div class="control-group" id="point_place"></div>
  <%= f.fields_for :points do |p| %>
    <div class="control-group">
      <div class="control-label col-lg-2">        
        <label>Label</label>
      </div>
      <div class="controls col-lg-3">
        <%= p.text_field :label, autofocus: true, class:"form-control", disabled: f.object.type_answer.name == 'Essay' ? true : false %>
      </div>
      <div class="control-label col-lg-1">
        <label>Point</label>
      </div>
      <div class="controls col-lg-2">
        <%= p.text_field :values, autofocus: true, class:"form-control" %>
      </div>
    </div>
    <div class="clearfix">
      <br><br>
    </div>
  <% end %>  

  <div class="control-group">
    <div class="control-label col-lg-2">
      <%= f.label :description %>
    </div>
    <div class="controls col-lg-8">
      <%= f.text_area :description, autofocus: true, class:"form-control" %>
    </div>
  </div>

  <div class="clearfix">
    <br><br>
  </div>
  <hr>
  <%= f.submit "Simpan", class:"pull-right btn btn-success" %>
  <%= link_to "Kembali", questions_path, class:"btn btn-default" %>
  <div class="clearfix"></div>
<% end %>
