<table class="table table-bordered table-hover table-striped tablesorter">
  <thead>
    <tr>
      <th style="width:4%;">No <i class="fa fa-sort pull-right"></i></th>
      <th style="width:18%">Pertanyaan</th>
      <th style="width:20%">Tipe</th>
      <th style="width:10%">Tgl buat</th>      
      <th style="width:10%"></th>
    </tr>
  </thead>
  <tbody id="index_data">
    <%= render "questions/shared/body_data" %>
  </tbody>
</table>