<div class="pen-title">
	<h1>Change your Password Form</h1><span><i class='fa fa-user'></i><a href='http://andytran.me'>Base App</a></span>
</div>
<div class="module form-module">
	<div class="form">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
			<%= devise_error_messages! %>
			<%= f.hidden_field :reset_password_token %>

			<div class="field">
				<%= f.label :password, "New password" %><br />
				<% if @minimum_password_length %>
					<em>(<%= @minimum_password_length %> characters minimum)</em><br />
				<% end %>
				<%= f.password_field :password, autofocus: true, autocomplete: "off" %>
			</div>

			<div class="field">
				<%= f.label :password_confirmation, "Confirm new password" %><br />
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>

			<div class="actions">
				<button>Change my password</button>
			</div>
		<% end %>
		<br>
		<%= render "users/shared/links" %>
	</div>
</div>
