<div class="pen-title">
	<h1>Forgot Password Form</h1><span><i class='fa fa-user'></i><a href='http://andytran.me'>Base App</a></span>
</div>
<div class="module form-module">
	<div class="form">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			<%= devise_error_messages! %>

			<div class="field">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true %>
			</div>

			<div class="actions">
				<button>Send me reset password instructions</button>
			</div>
		<% end %>
		<br>
		<%= render "users/shared/links" %>
	</div>
	<%- if controller_name != 'sessions' %>
		<div class="cta"><%= link_to "Log in", new_session_path(resource_name) %></div>
	<% end -%>
</div>