<% unless @roles.blank? %>
	<% @roles.each_with_index do |role, i| %>
		<tr>
			<td><%= numbering(i, @roles.offset_value) %></td>
			<td><%= role.name %></td>
			<td><%= role.description %></td>
			<td>
				<div class="btn-group btn-group-justified">
					<%=
						link_to "<i class='fa fa-eye'></i>".html_safe,
						role_path(role), title: 'Detail', class: 'btn btn-default'
					%>
					<%=
						link_to "<i class='fa fa-pencil'></i>".html_safe,
						edit_role_path(role), title: 'Edit', class: 'btn btn-default'
					%>
					 <%=
						link_to "<i class='fa fa-trash-o'></i>".html_safe, role_path(role),
						title: 'Hapus', class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' }
					%>
				</div>
			</td>
		</tr>
	<% end %>
<% else %>
	<tr>
		<th colspan="4"><center>No data Found</center></th>
	</tr>
<% end %>