<div class="panel-body">
	<div class="row">
		<div id="error-messages">
			<%= render "shared/error", errors: @role.errors %>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-12">
			<br>
			<%= form_for(@role) do |f| %>
				<div class="col-lg-8">
					<div class="control-group">
						<div class="control-label col-lg-4">
							<%= f.label :name %>
						</div>
						<div class="controls col-lg-8">
							<%= f.text_field :name, autofocus: true, class:"form-control" %>
						</div>
					</div>
					<div class="clearfix">
						<br><br>
					</div>

					<div class="control-group">
						<div class="control-label col-lg-4">
							<%= f.label :description %>
						</div>
						<div class="controls col-lg-8">
							<%= f.text_area :description, autofocus: true, class:"form-control" %>
						</div>
					</div>
				</div>

				<div class="clearfix">
					<br><br>
				</div>
				<hr>
				<%= f.submit "Save", class:"pull-right btn btn-success" %>
				<%= link_to "Back", roles_path, class:"btn btn-default" %>
				<div class="clearfix"></div>
			<% end -%>
		</div>
	</div>
</div>