<div class="panel-body">
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-bordered table-hover table-striped tablesorter">
				<thead>
					<tr>
						<th style="width:5%;">No <i class="fa fa-sort pull-right"></i></th>
						<th style="width:30%">Nama Modul</th>
						<th style="width:13%">Dapat Melihat</th>
						<th style="width:15%">Dapat Menambah</th>
						<th style="width:14%">Dapat Mengedit</th>
						<th style="width:15%">Dapat Menghapus</th>
					</tr>
				</thead>
				<tbody id="index_data">
					<% @role_modules.each_with_index do |role_module,i| %>
						<tr>
							<td><%= numbering(i, @role_modules.offset_value) %></td>
							<td><%= role_module.module_application.module_label.name %></td>
							<td>
								<center>
									<input <%= role_module.is_read ? "checked" : "" %> id="is_read" name="<%= role_module.module_application.module_label.name.tr(" ","").underscore %>[is_read]" type="checkbox">
								</center>
							</td>
							<td>
								<center>
									<input <%= role_module.is_add ? "checked" : "" %> id="is_add" name="<%= role_module.module_application.module_label.name.tr(" ","").underscore %>[is_add]" type="checkbox">
								</center>
							</td>
							<td>
								<center>
									<input <%= role_module.is_update ? "checked" : "" %> id="is_update" name="<%= role_module.module_application.module_label.name.tr(" ","").underscore %>[is_update]" type="checkbox">
								</center>
							</td>
							<td>
								<center>
									<input <%= role_module.is_delete ? "checked" : "" %> id="is_delete" name="<%= role_module.module_application.module_label.name.tr(" ","").underscore %>[is_delete]" type="checkbox">
								</center>
							</td>
						</tr>
						<%= hidden_field_tag :module_application_id, role_module.module_application.id, name: "#{role_module.module_application.module_label.name.tr(" ","").underscore}[module_application_id]" %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<%= submit_tag "Simpan", class:"pull-right btn btn-success" %>
	<%= link_to "Kembali", roles_path, class:"btn btn-default" %>
</div>