<table class="table table-bordered table-hover table-striped tablesorter">
	<thead>
		<tr>
			<th style="width:2%;">No <i class="fa fa-sort pull-right"></i></th>
			<th style="width:18%">Nama </th>
			<th style="width:24%">Deskripsi</th>
			<th style="width:8%"></th>
		</tr>
	</thead>
	<tbody id="index_data">
		<%= render "roles/shared/body_data" %>
	</tbody>
</table>