<% unless @users.blank? %>
	<% @users.each_with_index do |user, i|  %>
		<tr>
			<td class="text-center"><%= numbering(i,@users.offset_value) %></td>
			<td><%= user.full_name %></td>
			<td><%= user.email %></td>
			<td><%= user.role.name.humanize rescue '-' %></td>
			<td>
				<div class="btn-group btn-group-justified">
					<%=
						link_to "<i class='fa fa-eye'></i>".html_safe,
						user_path(user), title: 'Detail', class: 'btn btn-default'
					%>
					<%=
						link_to "<i class='fa fa-pencil'></i>".html_safe,
						edit_user_path(user), title: 'Edit', class: 'btn btn-default'
					%>
					 <%=
						link_to "<i class='fa fa-trash-o'></i>".html_safe, user_path(user),
						title: 'Hapus', class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' }
					%>
				</div>
			</td>
		</tr>
	<% end %>
<% else %>
	<tr>
		<th colspan="5"><center>No data found</center></th>
	</tr>
<% end %>