<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-lg-3">
				<%= text_field_tag :username, nil, placeholder: 'username', class: 'form-control' %>
			</div>
			<div class="col-lg-3">
				<%=
					select_tag(
							:role, options_for_select(Role.all.collect {|p| [ p.name,p.id]}.unshift(['--- Role ---',nil])),{class: "form-control"}
					)
				%>
			</div>
			<div class="col-lg-3">
				<div class="form-group input-group" style="margin:0">
					<%= text_field_tag :email, nil, placeholder: 'email', class: 'form-control' %>
					<span class="input-group-btn">
						<button type="reset" class="btn btn-default reset"><i class="fa fa-refresh"></i></button>
						<button type="button" class="btn btn-success filters"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</div>
			<div class="col-lg-3">
				<%=
					link_to '<i class="fa fa-plus-square"></i> Tambah User'.html_safe,
					new_user_path, class: 'btn btn-success pull-right'
				%>
			</div>
		</div>
	</div>
</div>