<div id="error-messages">
	<%= render "shared/error", errors: @user.errors %>
</div>
<div class="clearfix"></div>
<div class="col-lg-12">
	<br>
	<%= form_for(@user, html: {class: "form-horizontal",:multipart => true }) do |f| %>
		<div class="col-lg-8">
			<div class="control-group">
				<div class="control-label col-lg-4">
					<%= f.label :email %>
				</div>
				<div class="controls col-lg-8">
					<%= f.email_field :email, autofocus: true, class:"form-control" %>
				</div>
			</div>
			<div class="clearfix">
				<br><br>
			</div>
			<div class="control-group">
				<div class="control-label col-lg-4">
					<%= f.label :full_name %>
				</div>
				<div class="controls col-lg-8">
					<%= f.text_field :full_name, autofocus: true, class:"form-control" %>
				</div>
			</div>
			<div class="clearfix">
				<br><br>
			</div>
			<div class="control-group">
				<div class="control-label col-lg-4">
					<%= f.label :phone,"Telepon" %>
				</div>
				<div class="controls col-lg-8">
					<%= f.text_field :phone, autofocus: true, class:"form-control only-numeric" %>
				</div>
			</div>
			<div class="clearfix">
				<br><br>
			</div>
			<div class="control-group">
				<div class="control-label col-lg-4">
					<%= f.label :birthday,"Tanggal Lahir" %>
				</div>
				<div class="controls col-lg-8">
					<%= f.text_field :birthday, autofocus: true, class:"form-control only-numeric datepicker" %>
				</div>
			</div>
			<div class="clearfix">
				<br><br>
			</div>
			<div class="control-group">
				<div class="control-label col-lg-4">
					<%= f.label :role_id, "Role" %>
				</div>
				<div class="controls col-lg-8">
					<%=
						f.select(
							:role_id, options_for_select(Role.all.collect {|p| [ p.name.humanize,p.id]},"#{f.object.role_id}"),
							{include_blank: "--- Role ----"}, {class: 'form-control'}
						)
					%>
				</div>
			</div>
			<div class="clearfix">
				<br><br>
			</div>
			<div class="control-group">
				<div class="control-label col-lg-4">
					<%= f.label :address,"Alamat" %>
				</div>
				<div class="controls col-lg-8">
					<%= f.text_area :address, autofocus: true, class:"form-control" %>
				</div>
			</div>
			<div class="clearfix">
				<br><br><br>
			</div>			

			<% if params[:action] == 'new' || params[:action] == 'create' %>
				<%= f.hidden_field :popup, value: true %>
				<div class="control-group">
					<div class="control-label col-lg-4">
						<%= f.label :password  %>
					</div>
					<div class="controls col-lg-8">
						<% if @minimum_password_length %>
							<em>(<%= @minimum_password_length %> characters minimum)</em>
						<% end %>
						<%= f.password_field :password, autocomplete: "off", class:"form-control" %>
						
					</div>
				</div>
				<div class="clearfix">
					<br><br>
				</div>
				<div class="control-group">
					<div class="control-label col-lg-4">
						<%= f.label :password_confirmation, "Konfirmasi Password" %>
					</div>
					<div class="controls col-lg-8">
						<%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
					</div>
				</div>
				<div class="clearfix">
					<br><br>
				</div>
			<% else %>
				<div class="control-group">
					<div class="control-label col-lg-4">
						&nbsp;
					</div>
					<div class="control-label col-lg-8">
						<%= link_to "<i class='fa fa-info'></i> Ganti Password".html_safe, "#", class:"btn btn-primary pull-left", 'data-toggle'=> "modal", 'data-target' => '#changePassword' %>
						<%= f.hidden_field :popup, value: nil %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-lg-4">
			<div class="form-group pict_box pull-right">
				<div class="foto_prev">
					<%=
						 image_tag @user.photo.present? ? "#{@user.photo(:original)}" : "add_user.png",
						id: "img_prev_banner", width: "210px", class:"table-bordered"
					%>
				</div>
				<br><br>
				<%=
					f.file_field :photo, title: "Click To Browse",
					onChange: "readURLGalleryCreateUser(this);"
				%> 
			</div>
		</div>

		<div class="clearfix">
			<br><br>
		</div>
		<hr>
		<%= f.submit "Save", class:"pull-right btn btn-success" %>
		<%= link_to "Back", users_path, class:"btn btn-default" %>
		<div class="clearfix"></div>
	<% end -%>
</div>

<%= render "users/shared/modal_change_password" %>