<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="changePassword">Ganti Password</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-12 errro_js" id="error-messages"></div>
				 <%= form_for(@user, remote: true) do |f| %>
					<div class="control-group">
						<div class="control-label col-lg-4">
							<%= f.label :password, class:"pull-left"  %>
						</div>
						<div class="controls col-lg-8">
							<% if @minimum_password_length %>
								<em>(<%= @minimum_password_length %> characters minimum)</em>
							<% end %>
							<%= f.password_field :password, autocomplete: "off", class:"form-control" %>
							
						</div>
					</div>
					<div class="clearfix">
						<br><br>
					</div>
					<div class="control-group">
						<div class="control-label col-lg-4">
							<%= f.label :password_confirmation, "Konfirmasi Password", class:"pull-left" %>
						</div>
						<div class="controls col-lg-8">
							<%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
							<%= f.hidden_field :popup, value: true %>
						</div>
					</div>
					<div class="clearfix">
						<br>
					</div>
					<hr>
					<%= submit_tag "Ganti", class:"pull-right btn btn-primary" %>
					<%= link_to "Batal", "#", class:"btn btn-default", "data-dismiss"=>"modal" %>
					<div class="clearfix"></div>
				 <% end %>
			</div>
		</div>
	</div>
</div>