<%= render "users/shared/filter" %>

<div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-user"></i> <%= @page_description %>
      </div>

	<div class="panel-body">
		<div class="row">
			<div>
				<div class="table-responsive" id="data-list">
					<%= render "users/shared/list" %>
				</div>
			</div>

			<b>Showing <b class="paging_js_a"><%= @users.count %></b> data from <b class="paging_js_b"><%= @users_all.count %></b> data</b>
			<span class="pull-right paging_ajax">
				<%= paginate @users %>
			</span>
		</div>
	</div>
</div>