improveWait.resetWait();
$("#index_data").html("<%= j(render partial:"users/shared/body_data") %>")
$(".paging_js_a").html("<%= @users.count %>")
$(".paging_js_b").html("<%= @users_all.count %>")
$(".paging_ajax").html("<%= j(paginate @users, remote: true) %>")