<br>
<div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-user"></i> <%= @page_description %>
      </div>

	<div class="panel-body">
		<div class="row">
			<div class="col-lg-12">
				<div>
					<div class="col-lg-7">
						<div class="control-group">
							<div class="control-label col-lg-3">
								<%= label_tag :email %>
							</div>
							<div class="controls col-lg-8">
								<%= @user.email %>
							</div>
						</div>
						<div class="clearfix">
							
						</div>
						<div class="control-group">
							<div class="control-label col-lg-3">
								<%= label_tag :full_name %>
							</div>
							<div class="controls col-lg-8">
								<%= @user.full_name %>
							</div>
						</div>
						<div class="clearfix">
							
						</div>
						<div class="control-group">
							<div class="control-label col-lg-3">
								<%= label_tag :phone,"Telepon" %>
							</div>
							<div class="controls col-lg-8">
								<%= @user.phone.blank? ? "-" : @user.phone %>
							</div>
						</div>
						<div class="clearfix">
							
						</div>
						<div class="control-group">
							<div class="control-label col-lg-3">
								<%= label_tag :birthday,"Tanggal Lahir" %>
							</div>
							<div class="controls col-lg-8">
								<%= @user.birthday.blank? ? "-" : @user.birthday.strftime("%d/%B/%Y") %>
							</div>
						</div>
						
						<div class="clearfix">
							
						</div>
						<div class="control-group">
							<div class="control-label col-lg-3">
								<%= label_tag :role_id, "Role" %>
							</div>
							<div class="controls col-lg-8">
								<%= @user.role.name.humanize rescue '-' %>
							</div>
						</div>
						<div class="clearfix">
							
						</div>
						<div class="control-group">
							<div class="control-label col-lg-3">
								<%= label_tag :warehouse_id, "Warehouse" %>
							</div>
							<div class="controls col-lg-8">
								<%= @user.warehouse.name.humanize rescue '-' %>
							</div>
						</div>
						<div class="clearfix">
							
						</div>
						<div class="control-group">
							<div class="control-label col-lg-3">
								<%= label_tag :address,"Alamat" %>
							</div>
							<div class="controls col-lg-8">
								<%= @user.address.blank? ? "-" : @user.address.html_safe %>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-group pict_box pull-right">
							<div class="foto_prev">
								<%=
									 image_tag @user.photo.present? ? "#{@user.photo(:original)}" : "add_user.png",
									id: "img_prev_banner", width: "210px", class:"table-bordered"
								%>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix">
					
				</div>
				<hr>
				<%= link_to "Edit", edit_user_path(@user), class:"pull-right btn btn-primary" %>
				<%= link_to "Kembali", users_path, class:"btn btn-default" %>
			</div>
		</div>
	</div>
</div>