<% if @user.errors.blank? %>
	alert("Password berhasil di ubah");
	window.location.reload()
<% else %>
	$(".errro_js").html("<%= j(render partial:"shared/error",locals:{errors: @user.errors}) %>")
<% end %>