<% if errors.any? %>
	<div class="alert alert-dismissable alert-danger">
		<button type="button" class="close" data-dismiss="alert">×</button>
			<% errors.full_messages.each do |msg| %>
				<strong><%= msg %></strong><br>
			<% end %>
	</div>
<% end %>