<aside class="main-sidebar">
	<section class="sidebar">

		<div class="user-panel">
			<div class="pull-left image">
				<%= image_tag current_user.photo.blank? ? "people.jpg" : current_user.photo(:original), class:"img-circle" %>
			</div>
			<div class="pull-left info">
				<p><%= current_user.full_name.humanize %></p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>

		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Search...">
				<span class="input-group-btn">
					<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</form>

		<ul class="sidebar-menu">
			<li class="header">MENUS</li>
			<li class="<%= @active_listing_dashboard %>">
				<%= link_to "<i class='fa fa-dashboard'></i> <span>Dashboard<span>".html_safe, root_path %>
			</li>
			
			<%= set_menus(@menus,current_user) %>

		</ul>
	</section>
</aside>