<div class="modal fade over-flow-none table-responsive" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- <form accept-charset="UTF-8" action="/locations/import_data" enctype="multipart/form-data" method="post"> -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal Title</h4>
				</div>
				<div class="modal-body opa">
					Modal Content . . .
				</div>
				<div class="modal-footer">
					<div class="modal-footnote pull-left"></div>
					<a type="button" class="btn btn-default modal-close" data-dismiss="modal" href="#">Close</a>
					<!-- <button type="button" class="btn btn-primary modal-save">Simpan</button> -->
					<%= submit_tag "Import", class:"btn btn-primary modal-save" %>
				</div>
			<!-- </form> -->
		</div>
	</div>
</div>
