<% if flash[:notice] %>
	<div class="row" id="notice">
      		<div class="alert alert-success">
      			<strong><%= flash[:notice].html_safe %></strong>
          			<a href="javascript:void(0)" class="pull-right close-notice"><b>X</b></a>
      		</div>
	</div>
<% end %>

<% if flash[:alert] %>
	<div class="row" id="alert">
      		<div class="alert alert-danger">
      			<strong><%= flash[:alert] %></strong>
          			<a href="javascript:void(0)" class="pull-right close-alert"><b>X</b></a>
      		</div>
	</div>
<% end %>

<script>
	$(".close-notice").click(function(){
		$("#notice").remove()
	})
	$(".close-alert").click(function(){
		$("#alert").remove()
	})
</script>