<div class="pen-title">
	<h1>Sign Up Form</h1><span><i class='fa fa-user'></i><a href='http://andytran.me'>Base App</a></span>
</div>
<div class="module form-module">
	<div class="form">
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			<div class="field">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true %>
			</div>

			<div class="field">
				<%= f.label :password %>
				<% if @minimum_password_length %>
				<em>(<%= @minimum_password_length %> characters minimum)</em>
				<% end %><br />
				<%= f.password_field :password, autocomplete: "off" %>
			</div>

			<div class="field">
				<%= f.label :password_confirmation %><br />
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>

			<div class="actions">
				<button>Sign up</button>
			</div>
		<% end %>
		<br>
		<%= render "users/shared/links" %>
	</div>
	<%- if controller_name != 'sessions' %>
		<div class="cta"><%= link_to "Log in", new_session_path(resource_name) %></div>
	<% end -%>
</div>
