<div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-traveling"></i> <%= @page_description %>
      </div>

	<div class="panel-body">
		<div class="row">
			<div class="col-lg-9">
				<div class="control-group">
					<div class="control-label col-lg-4">
						<%= label_tag :name, "Judul SIDAK" %>
					</div>
					<div class="controls col-lg-8">
						<%= @traveling.name %>
					</div>
				</div>
				<div class="clearfix"></div>

				<% @questions.each do |question| %>
					<div class="control-group">
						<div class="control-label col-lg-4">
							<%= label_tag :question, question.name %>
						</div>
						<div class="controls col-lg-8">
							<% find_single_answer(@traveling,question, question.points.pluck(:id), question.type_answer_id).each do |my| %>
								<%= my %>
							<% end %>
						</div>
					</div>
					<div class="clearfix"></div>
				<% end %>
				
				<div class="control-group">
					<div class="control-label col-lg-4">
						<%= label_tag :description,"Deskripsi" %>
					</div>
					<div class="controls col-lg-8">
						<%= @traveling.description.blank? ? "-" : @traveling.description.html_safe %>
					</div>
				</div>
			</div>			
			<div class="col-lg-3">
				<div class="form-group pict_box pull-right">
					<div class="foto_prev">
						
					</div>
				</div>
			</div>				
			<div class="clearfix"></div>
			<hr>
			<%= link_to "Edit", edit_traveling_path(@traveling), class:"pull-right btn btn-primary" %>
			<%= link_to "Kembali", travelings_path, class:"btn btn-default" %>
		</div>
	</div>
</div>