<div class="pen-title">
	<h1>Login</h1><span><i class='fa fa-user'></i><a href='http://andytran.me'>KOPEMPAR-PARIWISATA</a></span>
</div>
<div class="module form-module">
	<div class="form">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div>
				<% if notice || alert %>
					<div class="alert alert-dismissable alert-danger" style="color:red">
						<center><b><%= notice %></b></center>
						<center><b><%= alert %></b></center>
					</div>
				<% end %>
			</div>
			<br>
			<div class="field">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true %>
			</div>

			<div class="field">
				<%= f.label :password %><br />
				<%= f.password_field :password, autocomplete: "off" %>
			</div>

			<% if devise_mapping.rememberable? -%>
				<div class="field">
					<%= f.check_box :remember_me %>
					<%= f.label :remember_me %>
				</div>
			<% end -%>

			<div class="actions">
				<button>Log in</button>
			</div>
		<% end %>
		<br>
		<%= render "users/shared/links" %>
	</div>
	<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
	  	<div class="cta"><%= link_to "Forgot your password?", new_password_path(resource_name) %></div>
	<% end -%>
</div>