<br>
<div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-gear"></i> Edit <%= @page_description %>
      </div>

      <div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab1" data-toggle="tab"> Edit Setting Module Role</a></li>
			<li><a href="#tab2" data-toggle="tab"> Edit Label Role</a></li>
		</ul>
		<div class="tab-content ">
			<div class="tab-pane active" id="tab1">
				<%= form_tag role_path, method: :patch do %>
					<%= render 'roles/shared/form_module_app' %>
				<% end %>
			</div>
			<div class="tab-pane" id="tab2">
				<%= render 'roles/shared/form' %>
			</div>
		</div>
	</div> 
</div>