improveWait.resetWait();
$("#index_data").html("<%= j(render partial:"roles/shared/body_data") %>")
$(".paging_js_a").html("<%= @roles.count %>")
$(".paging_js_b").html("<%= @roles_all.count %>")
$(".paging_ajax").html("<%= j(paginate @roles, remote: true) %>")