<%= render "roles/shared/filter" %>

<div class="panel panel-default">
	<div class="panel-heading">
		<i class="fa fa-gear"></i> <%= @page_description %>
	</div>

	<div class="panel-body">
		<div class="row">
			<div>
				<div class="table-responsive" id="data-list">
					<%= render "roles/shared/list" %>
				</div>
			</div>				
			<b>Showing <b class="paging_js_a"><%= @roles.count %></b> data from <b class="paging_js_b"><%= @roles_all.count %></b> data</b>
			<span class="pull-right paging_ajax">
				<%= paginate @roles %>
			</span>			
		</div>
	</div>
</div>