<br>
<div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-gear"></i> New <%= @page_description %>
      </div>

	<div class="panel-body">
		<div class="row">
			<div class="col-lg-12">
				<div>
					<%= render 'roles/shared/form' %>
				</div>
			</div>
		</div>
	</div>
</div>