<br>
<div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-gear"></i> <%= @page_description %>
      </div>

	<div class="panel-body">
		<div class="row">
			<div class="col-lg-12">
				<div>
					<div class="col-lg-8">
						<div class="control-group">
							<div class="control-label col-lg-4">
								<%= label_tag :name %>
							</div>
							<div class="controls col-lg-8">
								<%= @role.name %>
							</div>
						</div>
						<div class="clearfix">
							<br><br>
						</div>

						<div class="control-group">
							<div class="control-label col-lg-4">
								<%= label_tag :description %>
							</div>
							<div class="controls col-lg-8">
								<%= @role.description %>
							</div>
						</div>
					</div>

					<div class="clearfix">
						<br><br>
					</div>
					<hr>
					<%= render 'roles/shared/show_module_app' %>
					<hr>
					<%= link_to "Edit", edit_role_path(@role), class:"pull-right btn btn-success" %>
					<%= link_to "Back", roles_path, class:"btn btn-default" %>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>