<% unless @modules.blank? %>
	<% @modules.each_with_index do |module_label, i| %>
		<tr>
			<td colspan="3">
				<b><%= module_label.name %></b>
			</td>
			<td>
				<div class='btn-group btn-group-justified'>
					<a href='javascript:void(0)' title='Detail' class='btn btn-default' onclick='view_module(<%=module_label.id%>)'><i class='fa fa-eye'></i></a>
					<a href='javascript:void(0)' title='Edit' class='btn btn-default' onclick='edit_module(<%=module_label.id%>)'><i class='fa fa-pencil'></i></a>
					<a title='Hapus' class='btn btn-default' data-confirm='Are you sure?' rel='nofollow' data-method='delete' href='/module_labels/<%=module_label.id%>'><i class='fa fa-trash-o'></i></a>
				</div>
			</td>
		</tr>
		<%= find_child(module_label) %>
	<% end %>
<% else %>
	<tr>
		<th colspan="4"><center>No data Found</center></th>
	</tr>
<% end %>