<div class="row">
	<!-- <div class="col-lg-12"> -->
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-lg-3">
					<%= text_field_tag :name, nil, placeholder: 'name', class: 'form-control' %>
				</div>
				<div class="col-lg-5">
					<div class="form-group input-group" style="margin:0">
						<%= text_field_tag :path, nil, placeholder: 'path', class: 'form-control' %>
						<span class="input-group-btn">
							<button type="reset" class="btn btn-default reset"><i class="fa fa-refresh"></i></button>
							<button type="button" class="btn btn-primary filters"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</div>
				<div class="col-lg-3 pull-right">
					<%=
						link_to '<i class="fa fa-plus-square"></i> Adding Module'.html_safe,"#",
						class: 'btn btn-success pull-right', onclick:'new_module()'
					%>
				</div>
			</div>
		</div>
	<!-- </div> -->
</div>