<% unless @modules_single.blank? %>
	<% @modules_single.each_with_index do |module_label, i| %>
		<tr>
			<td><%= module_label.name %></td>
			<td><%= module_label.path_module %></td>
			<td><%= module_label.description %></td>
			<td>
				<div class="btn-group btn-group-justified">
					<%=
						link_to "<i class='fa fa-eye'></i>".html_safe,
						module_label_path(module_label), title: 'Detail', class: 'btn btn-default'
					%>
					<%=
						link_to "<i class='fa fa-pencil'></i>".html_safe,
						edit_module_label_path(module_label), title: 'Edit', class: 'btn btn-default'
					%>
					 <%=
						link_to "<i class='fa fa-trash-o'></i>".html_safe, module_label_path(module_label),
						title: 'Hapus', class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' }
					%>
				</div>
			</td>
		</tr>
	<% end %>
<% else %>
	<tr>
		<th colspan="4"><center>No data Found</center></th>
	</tr>
<% end %>