<div class="errro_js" id="error-messages"></div>
<%= form_for(@module, remote: true) do |f| %>
	<div class="control-group">
		<div class="control-label col-lg-4">
			<%= f.label :name %>
		</div>
		<div class="controls col-lg-8">
			<%= f.text_field :name, class:"form-control" %>
		</div>
	</div>
	<div class="clearfix">
		<br><br>
	</div>

	<div class="control-group">
		<div class="control-label col-lg-4">
			<%= f.label :child %>
		</div>
		<div class="controls col-lg-8">
			<%=
				f.select(
					:child, options_for_select(ModuleLabel.where(child: nil).map{|x| [x.name, x.id]}.unshift(['Select', nil]), f.object.child),
					{}, {class: 'form-control'}
				)
			%>
		</div>
	</div>
	<div class="clearfix">
		<br><br>
	</div>

	<div class="control-group">
		<div class="control-label col-lg-4">
			<%= f.label :index_module %>
		</div>
		<div class="controls col-lg-8">
			<%= f.number_field :index_module, class:"form-control only-numeric" %>
		</div>
	</div>
	<div class="clearfix">
		<br><br>
	</div>

	<div class="control-group">
		<div class="control-label col-lg-4">
			<%= f.label :path_module %>
		</div>
		<div class="controls col-lg-8">
			<%= f.text_field :path_module, class:"form-control" %>
		</div>
	</div>
	<div class="clearfix">
		<br><br>
	</div>

	<div class="control-group">
		<div class="control-label col-lg-4">
			<%= f.label :module_class, "Font Awesome" %>
		</div>
		<div class="controls col-lg-8">
			<%= f.text_field :module_class, class:"form-control" %>
		</div>
	</div>
	<div class="clearfix">
		<br><br>
	</div>

	<div class="control-group">
		<div class="control-label col-lg-4">
			<%= f.label :model_class %>
		</div>
		<div class="controls col-lg-8">
			<%= f.text_field :model_class, placeholder: "ModelClass", class:"form-control" %>
		</div>
	</div>
	<div class="clearfix">
		<br><br>
	</div>

	<div class="control-group">
		<div class="control-label col-lg-4">
			<%= f.label :active_class %>
		</div>
		<div class="controls col-lg-8">
			<%= f.text_field :active_class, placeholder: "active_class", class:"form-control" %>
		</div>
	</div>
	<div class="clearfix">
		<br><br>
	</div>

	<div class="control-group">
		<div class="control-label col-lg-4">
			<%= f.label :description %>
		</div>
		<div class="controls col-lg-8">
			<%= f.text_field :description, class:"form-control" %>
		</div>
	</div>
	<div class="clearfix">
		<br><br>
	</div>
	<hr>
	<a type="button" class="btn btn-default modal-close" data-dismiss="modal" href="#">Close</a>
	<%= f.submit "Save", class:"btn btn-success pull-right" %>
<% end %>
<div class="clearfix"></div>