<table class="table table-bordered table-hover table-striped tablesorter">
	<thead>
		<tr>
			<th style="width:15%">Nama </th>
			<th style="width:18%">Path Module </th>
			<th style="width:24%">Deskripsi</th>
			<th style="width:8%"></th>
		</tr>
	</thead>
	<tbody id="index_data">
		<%= render "module_labels/shared/body_data" %>
	</tbody>
</table>