<div class="control-group">
	<div class="control-label col-lg-4">
		<%= label_tag :name %>
	</div>
	<div class="controls col-lg-8">
		<%= @module.name %>
	</div>
</div>
<div class="clearfix">
	<br><br>
</div>

<div class="control-group">
	<div class="control-label col-lg-4">
		<%= label_tag :child %>
	</div>
	<div class="controls col-lg-8">
		<%= ModuleLabel.find(@module.child).name rescue "-" %>
	</div>
</div>
<div class="clearfix">
	<br><br>
</div>

<div class="control-group">
	<div class="control-label col-lg-4">
		<%= label_tag :index_module %>
	</div>
	<div class="controls col-lg-8">
		<%= @module.index_module %>
	</div>
</div>
<div class="clearfix">
	<br><br>
</div>

<div class="control-group">
	<div class="control-label col-lg-4">
		<%= label_tag :path_module %>
	</div>
	<div class="controls col-lg-8">
		<%= @module.path_module %>
	</div>
</div>
<div class="clearfix">
	<br><br>
</div>

<div class="control-group">
	<div class="control-label col-lg-4">
		<%= label_tag :module_class %>
	</div>
	<div class="controls col-lg-8">
		<%= @module.module_class %>
	</div>
</div>
<div class="clearfix">
	<br><br>
</div>

<div class="control-group">
	<div class="control-label col-lg-4">
		<%= label_tag :active_class %>
	</div>
	<div class="controls col-lg-8">
		<%= @module.active_class %>
	</div>
</div>
<div class="clearfix">
	<br><br>
</div>

<div class="control-group">
	<div class="control-label col-lg-4">
		<%= label_tag :description %>
	</div>
	<div class="controls col-lg-8">
		<%= @module.description %>
	</div>
</div>
<div class="clearfix">
	<br><br>
</div>
<hr>
<a type="button" class="btn btn-default modal-close" data-dismiss="modal" href="#">Close</a>
<%= link_to "Edit", edit_module_label_path(@module), class:"btn btn-primary pull-right", remote: true %>
<div class="clearfix"></div>