<%= render "module_labels/shared/filter" %>

<div class="panel panel-default">
	<div class="panel-heading">
		<i class="fa fa-list"></i> <%= @page_description %>
	</div>

	<div class="panel-body">
		<div class="row">			
			<div>
				<div class="table-responsive" id="data-list">
					<%= render "module_labels/shared/list" %>
				</div>
			</div>				
			<b>Showing <b class="paging_js_a"><%= @modules_single.count %></b> data from <b class="paging_js_b"><%= @modules_all.count %></b> data</b>
			<span class="pull-right paging_ajax">
				<%= paginate @modules_single %>
			</span>			
		</div>
	</div>
</div>