improveWait.resetWait();
$("#index_data").html("<%= j(render partial:"module_labels/shared/body_data") %>")
$(".paging_js_a").html("<%= @modules_single.count %>")
$(".paging_js_b").html("<%= @modules_all.count %>")
$(".paging_ajax").html("<%= j(paginate @modules_single, remote: true) %>")