$("#myModal").modal('show');
$("#myModal").removeClass("over-flow-none").addClass("over-flow")
$('#myModal .modal-body').html("<%= j(render partial:"module_labels/shared/form") %>")
$('#myModal .modal-title').html("<i class='fa fa-pencil'></i> New Module");
$(".modal-footer").remove();