$("#myModal").modal('show');
$("#myModal").removeClass("over-flow-none").addClass("over-flow")
$('#myModal .modal-body').html("<%= j(render partial:"module_labels/shared/show") %>")
$('#myModal .modal-title').html("<i class='fa fa-eye'></i> Detail Module");
$(".modal-footer").remove();
/*$('#myModal .modal-close').html("Close").addClass("btn btn-default pull-left");
$('#myModal').removeClass("over-flow-none");
$(".modal-save").addClass("hide");*/