.tt-input{}
.tt-hint {
  height: 30px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


.tt-hint {
  color: #999;

}

.tt-menu {
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 12px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}
.font-resize{
  font-size: 10px;
}
.tt-input {

}
  table.filter th, table.filter td{
    padding: 4px !important;
  }
  table.filter td, table.filter th{
    font-size: 12px;
  }
  .twitter-typeahead{
    display: block !important;
  }