<!DOCTYPE html>
<html>
<head>
	<title>KOPEMPAR</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			<%= render :partial => "shared/header" %>
			<%= render :partial => "shared/menu" %>
			<div class="content-wrapper">
				<%= render "shared/breadcrumb" %>
				<%= render :partial => "shared/notice" %>
				<section class="content" style="min-height:515px">
					<%= yield %>
				</section>
			</div>
			<%= render "shared/footer" %>
			<%= render "shared/control" %>
		</div>
		<%= render "shared/modal" %>
		<%= render 'shared/loading' %>
	</body>
</html>
<%= javascript_include_tag params[:controller] if !params[:controller].start_with?('devise') && File.exists?("#{Rails.root}/app/assets/javascripts/#{params[:controller]}.js") %>
<%= javascript_include_tag 'global' %>
<script src="https://code.highcharts.com/highcharts.js"></script>