<!DOCTYPE html>
<html>
	<head>
		<title>Display Transaction</title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div>
			<div id="page-wrapper">
				<%= render "shared/breadcrumb" %>
				<hr>
				<%= yield %>
			</div>
		</div>
		<%= render "shared/modal" %>
		<%= render "shared/struk" %>
	</body>
</html>