<style type="text/css">
	h3,h4,h5{
		color: #B5B5B5;
	}
	body{
		background: #fff;
	}
</style>
<center>
	<h3>Point Of Sales Application</h3>
	<h4>Document Data <%= @name %> <%= Date.today.strftime('%d-%B-%Y') %></h4>
	<h5>Jl. Letkol G.A Manulang No.214, Kec. Padalarang Kab. Bandung Barat</h5>
</center>
<hr>