<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<%= wicked_pdf_stylesheet_link_tag 'application'%>
		<style type="text/css">
			body, table{background: #fff;}
			table tr td{border:1px solid #cecece;}
			table tr th{border:1px solid #cecece !important;}
		</style>
	</head>
	
	<body>
		<%= yield %>  
	</body>
</html>