<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>KOPEMPAR | Login</title>
		<%= stylesheet_link_tag "devise/login" %>
		<%= csrf_meta_tags %>
		<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
		<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
	</head>
	<body class="body-background">
		<%= yield %>
	</body>
</html>